<div class="container container-profile">
  <div class="row pb-5">
    <div class="col-md-3 text-center">
      <% if @user.photo.attached? %>
          <% card_image = @user.photo.key %>
      <% else %>
          <% card_image = "" %>
      <% end %>
      <div class="user-photo"><%= cl_image_tag card_image, class: 'avatar-profile'%></div>
    </div>

    <div class="col-md-9 p-4 info-section">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <div class="profile-block contact-info">
        <h6> <%= @user.email %> </h6>
      </div>
    </div>
  </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="rentals-tab" data-toggle="tab" href="#rentals" role="tab" aria-controls="rentals" aria-selected="true">Rentals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="listing-tab" data-toggle="tab" href="#listing" role="tab" aria-controls="listing" aria-selected="false">Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Pending-tab" data-toggle="tab" href="#Pending" role="tab" aria-controls="Pending" aria-selected="false">Pending</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="rentals" role="tabpanel" aria-labelledby="rentals-tab">
        <% @user.rentals.each do |rental| %>
          <%= link_to car_path(rental.car) do  %>
            <div class="card-product">
              <% if rental.car.photos.attached? %>
                  <%= cl_image_tag rental.car.photos.first.key, class: "card-product-image" %>
              <% end %>
              <div class="card-product-infos">
                <h2> <%= rental.car.make %> / <%= rental.car.model %> </h2>
                <p> Pick-up: <%= rental.pick_up %> </p>
                <p> Drop-off: <%= rental.drop_off %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="listing" role="tabpanel" aria-labelledby="listing-tab">
        <% @user.cars.each do |car| %>
          <div class="card-product">
            <% if car.photos.attached? %>
              <%= link_to car_path(car) do  %>
                <%= cl_image_tag car.photos.first.key, class: "card-product-image" %>
              <% end %>
            <% end %>
            <div class="card-product-infos">
              <%= car.make %> <%= car.model %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="Pending" role="tabpanel" aria-labelledby="Pending-tab">...</div>
    </div>
  </div>


