<div class="container container-profile">
  <div class="row pb-5">
    <div class="col-md-3 text-center">
      <% if @user.photo.attached? %>
          <% card_image = @user.photo.key %>
      <% else %>
          <% card_image = "" %>
      <% end %>
      <div class="user-photo"><%= cl_image_tag card_image, class: 'avatar-profile'%></div>
    </div>

    <div class="col-md-9 p-3 info-section">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <div class="profile-block contact-info">
        <h4> Contact: <%= @user.email %> </h4>
      </div>
    </div>
  </div>

    <div class="row justify-content-between text-center">
      <div class="col-lg-5 p-3">
        <h4> Rental </h4>
          <% @user.rentals.each do |rental| %>
            <details>
              <summary> <%= rental.car.make %> </summary>
              <div class="container bg-light">
                <div class="row">
                <div class="col-6">
               <% if rental.car.photos.attached? %>
                <%= link_to car_path(rental.car) do  %>
                  <%= cl_image_tag rental.car.photos.first.key, class: "card-img-top" %>
                <% end %>
              <% end %>
              </div>
              <div class="col-6 date-content">
              <p> Pick-up: <%= rental.pick_up %> </p>
              <p> Drop-off: <%= rental.drop_off %> </p>
              </div>
            </div>
            </div>
            </details>
        <% end %>
      </div>

      <div class="col-lg-5 p-3">
        <h4> Listing </h4>
          <% @user.cars.each do |car| %>

          <details>
           <summary> <%= car.make %> <%= car.model %> </summary>
            <% if car.photos.attached? %>
            <%= link_to car_path(car) do  %>
              <%= cl_image_tag car.photos.first.key, class: "card-img-top" %>
            <% end %>
            <% end %>
          </details>
        <% end %>
      </div>
    </div>
  </div>
