<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <i class="fas fa-car-alt"></i>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <!-- Search form -->
    <%= form_tag root_path, class: "navbar-wagon-search", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "navbar-wagon-search-input",
      placeholder: "Find a car" %>
      <%= button_tag( :class => "btn navbar-wagon-search-btn") do%>
        <i class="fa fa-search"> </i>
      <% end %>
    <% end %>

    <!-- Notification -->



    <!-- Button (call-to-action) -->
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, class: "btn-sign-in" %>
      <!-- Dropdown list -->
      <div class="dropdown">
        <i class="dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "List new car", new_car_path %></li>
          <li><%= link_to "View cars", cars_path %></li>
        </ul>
      </div>

    <% else %>
      <%= link_to "Sign In", user_session_path, class: "btn-sign-in" %>
    <% end %>

  </div>
</div>
