<%= simple_form_for @car do |f| %>
<div class="row">
  <div class="col-6"><%= f.input :make %></div>
  <div class="col-6"><%= f.input :model %></div>
</div>
<div class="row">
  <div class="col"><%= f.input :seats %></div>
  <div class="col"> <%= f.input :color %></div>
</div>
<div class="row">
  <div class="col">
    <%= f.input :price %>
  </div>
  <div class="col">
    <%= f.input :location %>
  </div>
</div>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
