<h1><%= @car.make + @car.model %></h1>

<p>Colour: <%= @car.color %></p>
<p>Seats: <%= @car.seats %></p>
<p>Price per day: £<%= @car.price %></p>
<p>Location: <%= @car.location %></p>
<p>Owner: <%= @car.user.email %></p>

<% if @car.photos.attached? %>
  <% @car.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, crop: :fill %>
  <% end %>
<% end %>

<%= link_to "Edit", edit_car_path %>
<%= link_to 'Delete', car_path(@car), method: :delete, data: { confirm: "Are you sure?"} %>
