<div class="container">
  <div class="row p-4">
    <div class="col-lg-6 bg-light shadow p-3">
      <div class="car-description">
        <h1><%= @car.make %> <%= @car.model %></h1>

            <% if @car.average_rating <= 0  %>
              <%= image_tag "0star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 1 %>
              <%= image_tag "1star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 2 %>
              <%= image_tag "2star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 3 %>
              <%= image_tag "3star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 4 %>
              <%= image_tag "4star.png", alt: "alttext" %>
              <% else %>
              <%= image_tag "5star.png", alt: "alttext" %>
              <% end %>
          <p> </p>


        <p>Listed by: <%= link_to user_path(@car.user) do %>
           <%= @car.user.first_name %> <%= @car.user.last_name %> <%= cl_image_tag @car.user.photo.key, class: "avatar" %>
            <% end %>
          </p>
        <div class="row">
        <div class="col">
        <p>Colour: <%= @car.color %></p>
        <p>Seats: <%= @car.seats %></p>
        </div>
        <div class="col">
        <p id="price" data-price=<%= @car.price.round %> >Price per day: £<%= @car.price.round %></p>
        <p>Location: <%= @car.location %></p>
        </div>
        </div>
      </div>

      <div class="my-2">
        <%= render 'carousel' %>
      </div>

      <div class="editbuttons ">
        <%= link_to "Back to cars", cars_path, class: "btn btn-info" %>
      <% if @car.user == current_user %>
        <%= link_to "Edit your car", edit_car_path, class: "btn btn-primary" %>
        <%= link_to 'Delete', car_path(@car), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>

<% if @car.user != current_user %>
<div class="col-lg-6 ">
  <div class="rental-form sticky bg-light shadow p-3" id="rental_form">
    <%= simple_form_for [@car, @rental] do |f| %>
      <%= f.input :pick_up, as: :date, html5: true, id:"rental_pick_up" %>
      <%= f.input :drop_off, as: :date, html5: true, id:"rental_drop_off" %>
      <p id="rental_price"> Total Price: £ <%= @rental.calculated_price %></p>
      <%= f.button :submit, class: "btn btn-primary mb-4" %>
    <% end %>
  </div>

</div>
<% end %>
</div>



<script type="text/javascript">
  const rentalPriceCalculator = () => {
  const rentalPickUp = document.getElementById("rental_pick_up");
  const rentalDropOff = document.getElementById("rental_drop_off");
  const rentalPrice = document.getElementById("rental_price");
  const price = parseInt(document.getElementById("price").dataset.price);


  const handleEvent = (event) => {
    if (rentalPickUp.value && rentalDropOff.value) {
      console.log(event.target.value);
      const rentalDropOffValue = rentalDropOff.value;
      const result = ((new Date(rentalDropOffValue) - new Date(rentalPickUp.value)) / 1000 / 60 / 60 / 24);
      const newPrice = result * price;
      if (newPrice < 0) {
        rentalPrice.innerHTML = "Drop off must be after pick up !"
      } else {
        rentalPrice.innerHTML = `Total Price £${newPrice}`;
      }
    }

  }
  rentalPickUp.addEventListener("input", (event) => {
    handleEvent(event);
  });
  rentalDropOff.addEventListener("input", (event) => {
    handleEvent(event);
  })
//   if(document.getElementById("rental_drop_off")){
// }


}
rentalPriceCalculator();

</script>

</div>

