<div class="container">
<div class="row p-4">
<div class="col-lg-6">
<h1><%= @car.make + " " + @car.model %></h1>

<p>Colour: <%= @car.color %></p>
<p>Seats: <%= @car.seats %></p>
<p>Price per day: £<%= @car.price %></p>
<p>Location: <%= @car.location %></p>
<p>Owner: <%= @car.user.first_name %> <%= @car.user.last_name %></p>

<div class="col-md-9 p-3 car-photos">
  <% if @car.photos.attached? %>
    <% @car.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 250, crop: :fill, class: "pr-3 car-image" %>
    <% end %>
  <% end %>
</div>

<% if @car.user == current_user %>
<div class="editbuttons ml-4">
  <%= link_to "Back to cars list", edit_car_path, class: "btn btn-primary" %>
  <%= link_to "Edit your car", edit_car_path, class: "btn btn-primary" %>
  <%= link_to 'Delete', car_path(@car), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
</div>
<% end %>
</div>



<% if @car.user != current_user %>
<div class="col-lg-6">
<div class="rental-form">
  <%= simple_form_for [@car, @rental] do |f| %>
    <%= f.input :pick_up, as: :datetime, html5: true %>
    <%= f.input :drop_off, as: :datetime, html5: true %>
    <%= f.button :submit, class: "btn btn-primary mb-4" %>
  <% end %>
</div>

</div>
<% end %>
</div>

</div>
