<div class="container">
  <div class="row p-4">
    <div class="col-lg-6 bg-light shadow p-3">
      <div class="car-description">
        <h1><%= @car.make %> <%= @car.model %></h1>
            <% if @car.average_rating <= 0  %>
              <%= image_tag "0star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 1 %>
              <%= image_tag "1star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 2 %>
              <%= image_tag "2star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 3 %>
              <%= image_tag "3star.png", alt: "alttext" %>
              <% elsif @car.average_rating <= 4 %>
              <%= image_tag "4star.png", alt: "alttext" %>
              <% else %>
              <%= image_tag "5star.png", alt: "alttext" %>
              <% end %>
          <p> </p>


        <p>Listed by: <%= link_to user_path(@car.user) do %>
           <%= @car.user.first_name %> <%= @car.user.last_name %> <%= cl_image_tag @car.user.photo.key, class: "avatar" %>
            <% end %>
          </p>

        <p>Colour: <%= @car.color %></p>
        <p>Seats: <%= @car.seats %></p>
        <p>Price per day: £<%= @car.price.round %></p>
        <p>Location: <%= @car.location %></p>
      </div>

      <div class="my-2">
        <%= render 'carousel' %>
      </div>

      <div class="editbuttons ">
        <%= link_to "Back to cars list", cars_path, class: "btn btn-primary" %>
      <% if @car.user == current_user %>
        <%= link_to "Edit your car", edit_car_path, class: "btn btn-info" %>
        <%= link_to 'Delete', car_path(@car), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>

<% if @car.user != current_user %>
<div class="col-lg-6">
<div class="rental-form" id="rental_form">
  <%= simple_form_for [@car, @rental] do |f| %>
    <%= f.input :pick_up, as: :date, html5: true, id:"rental_pick_up" %>
    <%= f.input :drop_off, as: :date, html5: true, id:"rental_drop_off" %>
    <p id="rental_price"> Total Price: £ <%= @rental.calculated_price %></p>
    <%= f.button :submit, class: "btn btn-primary mb-4" %>
  <% end %>
</div>

</div>
<% end %>
</div>

</div>


